<label for="pdf-upload">Upload PDF files:</label>
<input id="pdf-upload" type="file" (change)="onFileSelected($event)" accept="application/pdf" multiple title="Select PDF files to upload">
<div *ngIf="files && files.length > 0">
  <h3>Selected PDF Files:</h3>
  <ul>
    <li *ngFor="let file of files">{{ file.name }}</li>
  </ul>
  <button (click)="uploadFiles()">Upload</button>
</div>
<div *ngIf="uploadProgress">
  <h3>Upload Progress:</h3>
  <div *ngFor="let progress of uploadProgress">
    {{ progress.fileName }}: {{ progress.progress }}%
  </div>
</div>
<div *ngIf="uploadError">
  <h3>Error:</h3>
  <p>{{ uploadError }}</p>
</div>
<div *ngIf="uploadSuccess">
  <h3>Upload Successful!</h3>
  <p>{{ uploadSuccess }}</p>
</div>